@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Delicious+Handrawn&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the viewport height */
  }

@layer components{
    /* For Navigation Part */

    .nav-link{
        @apply hover:bg-gray-200 lg:hover:bg-black hover:text-orange cursor-pointer px-7 lg:px-0 lg:text-white
    }

    .gallery-ul{
        @apply hover:bg-gray-100 pl-5 hover:text-orange;
    }

    /* For Background Slider Part */

    .image-container{
        transform: translateX(0%);
        transition: transform 1.5s ease-in-out;
    }

    .slide-elements{
        @apply bg-cover bg-top bg-no-repeat h-[400px] sm:h-[450px] md:h-[500px] lg:h-[550px] xl:h-[600px] xxl:h-[650px] w-screen relative;
    }

    .elements-container{
        @apply mx-10 sm:mx-12 md:mx-20 lg:mx-48 xl:mx-56 xxl:mx-72 flex items-center justify-center h-full;
    }

    .slider-heading{
        @apply text-white font-dancing text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-center font-bold;
    }

    .bg-btn{
        @apply text-white flex justify-center items-center gap-x-5 mt-5 md:mt-7 lg:mt-8;
    }

    .slider-btn{
        @apply border-2 border-orange h-10 w-32 rounded-full pb-1 hover:bg-orange hover:text-white transition duration-[.5s];
    }

    .arrow-btn{
        @apply h-12 w-12  rounded-full absolute top-1/2 transform -translate-y-1/2;
    }

    .arrow-btn-bg{
        @apply bg-white w-full h-full rounded-full absolute top-0 left-0 opacity-30;
    }

    .arrow-btn-icon{
        @apply w-full h-full rounded-full flex justify-center items-center absolute z-50 cursor-pointer transition;
    }

    /* For Why choose Our Restaurant part */

    .change-col:hover .change{
        color: white;
    }

    .chose-parent{
        @apply w-full h-64 shadow-md shadow-gray-600 px-7 hover:bg-orange transition text-white mt-10;
    }

    .chose-h1{
        @apply text-orange text-3xl font-bold pt-8 change;
    }

    .chose-h2{
        @apply text-3xl font-dancing font-bold text-[#6C665C] mt-4 change;
    }

    .chose-p{
        @apply text-[#AAAAAA] mt-4 change;
    }

    /* Check Our Tasty Menu Section */

    .tasty-btn{
        @apply h-9 w-24 rounded-full  pb-1 border-2 border-orange hover:bg-orange hover:text-white transition;
    }

    .tasty-single-parent{
        @apply flex justify-between items-center relative  overflow-hidden;
    }

    .tasty-h1{
        @apply font-bold text-darkorange z-20 bg-white pt-1 px-1 text-xl cursor-pointer;
    }

    .tasty-p{
        @apply font-bold z-20 bg-white px-1 pt-1 text-xl;
    }

    .tasty-p1{
        @apply font-bold flex-none absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-400 tracking-wider;
    }

    .tasty-p2{
        @apply text-gray-400 pl-1 italic;
    }

}