@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Delicious+Handrawn&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the viewport height */
  }

@layer components{
    .nav-link{
        @apply hover:bg-gray-200 lg:hover:bg-black hover:text-orange cursor-pointer px-7 lg:px-0 lg:text-white
    }

    .gallery-ul{
        @apply hover:bg-gray-100 pl-5 hover:text-orange;
    }

    .image-container{
        transform: translateX(0%);
        transition: transform 1.5s ease-in-out;
       }
}